* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  cursor: none;
}

*:active > .cursor {
  -webkit-transform: translateX(-40%) rotate(-45deg);
          transform: translateX(-40%) rotate(-45deg);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #feed01;
}

html::-webkit-scrollbar-track {
  background: #000;
}

body {
  background: #feed01;
  overflow-x: hidden;
}

section {
  padding: 3rem 5%;
}

.cursor {
  position: absolute;
  height: 8rem;
  pointer-events: none;
  top: -5rem;
  left: -5rem;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  z-index: 10000;
}

.header {
  padding: 1.5rem 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #feed01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  display: block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #feed01;
  border: 0.1rem solid #000;
  color: #000;
  font-size: 2rem;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.heading {
  text-align: center;
  font-size: 7vw;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 0.2rem #000;
  margin-bottom: 3rem;
}

.header .logo {
  font-size: 2.5rem;
  color: #000;
}

.header #menu-btn {
  height: 5rem;
  width: 5rem;
  line-height: 4.7rem;
  border-radius: 50%;
  border: 0.1rem solid #000;
  background: #fff;
  font-size: 1.7rem;
  text-align: center;
}

.header #menu-btn:hover {
  background: #000;
  color: #fff;
}

.navbar-link {
  position: fixed;
  bottom: 0;
  left: -110%;
  height: calc(100% - 8rem);
  width: 50%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  z-index: 1000;
  background: #000;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.navbar-link.active {
  left: 0;
}

.navbar-link a {
  font-size: 5.5rem;
  color: #fff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: uppercase;
}

.navbar-link a:hover {
  background: #fff;
  font-size: 4rem;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  color: #000;
  padding: .5rem 2rem;
}

.navbar-img {
  position: fixed;
  bottom: 0;
  right: -110%;
  height: calc(100% - 8rem);
  width: 50%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  z-index: 1000;
}

.navbar-img.active {
  right: 0;
}

.navbar-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  /** filter: grayscale() **/
}

.home {
  margin-top: 8rem;
  position: relative;
  padding-bottom: 35rem;
}

.home h3 {
  text-align: center;
  font-size: 6vw;
  text-transform: uppercase;
}

.home-text {
  -webkit-text-stroke: 0.2rem #000;
  color: #fff;
  position: relative;
  z-index: 10;
}

.home-text:hover {
  text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -70%) scale(0);
          transform: translate(-50%, -70%) scale(0);
  -webkit-transition: .2s liner;
  transition: .2s liner;
  pointer-events: none;
  height: 40rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30rem;
  width: 100%;
  background: url(../img/wave.png) repeat-x;
  background-size: 250rem 30rem;
  -webkit-animation: wave 10s linear infinite;
          animation: wave 10s linear infinite;
}

.home .wave-2 {
  opacity: .5;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  animation-direction: reverse;
}

.home .wave-3 {
  opacity: .7;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes wave {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: -250rem;
    /** dont work **/
  }
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: -250rem;
    /** dont work **/
  }
}

.home .home-titletext:hover > .home-img {
  -webkit-transform: translate(-50%, -70%) scale(1);
          transform: translate(-50%, -70%) scale(1);
}

.about {
  background: #000;
}

.about .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .skill .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.about .skill .box .progress {
  padding: 1rem 0;
}

.about .skill .box .progress h3 {
  font-size: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .skill .box .progress h3 span {
  color: #feed01;
}

.about .skill .box .progress .bar {
  height: 2rem;
  border: 0.2rem solid #fff;
  padding: .5rem;
  margin-top: 1rem;
}

.about .skill .box .progress .bar span {
  display: block;
  background: #fff;
  height: 100%;
  width: 95%;
}

.about .skill .box .progress-2 .bar span {
  width: 80%;
}

.about .skill .box .progress-3 .bar span {
  width: 65%;
}

.about .skill .box .progress-4 .bar span {
  width: 85%;
}

.about .skill .title {
  font-size: 3rem;
  color: #feed01;
  text-align: center;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.about .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .info-container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.about .info-container .image img {
  width: 100%;
}

.about .info-container .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.about .info-container .info:first-child {
  text-align: right;
}

.about .info-container .info p {
  text-transform: none;
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem 0;
}

.about .info-container .info p span {
  color: #feed01;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 3rem 2rem;
  border: 0.1rem solid #000;
  background: #fff;
  text-align: center;
}

.services .box-container .box:hover {
  background: #000;
}

.services .box-container .box:hover p, .services .box-container .box:hover h3 {
  color: #fff;
}

.services .box-container .box:hover .btn:hover {
  background: #fff;
  color: #000;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
}

.services .box-container .box p {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
}

/** media querie **/
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 5%;
  }
  .about .info-container {
    margin-top: 10rem;
  }
  .about .info-container .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
  }
  .about .info-container .info p {
    font-size: 1.7rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .cursor {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 10vw;
  }
  .navbar-link {
    width: 100%;
    z-index: 1200;
    background: none;
  }
  .navbar-link a {
    background: #feed01;
    font-size: 4rem;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: #000;
    border: 0.1rem solid #000;
    padding: .5rem 2rem;
  }
  .navbar-img {
    width: 100%;
  }
  .home {
    /** dont-work **/
  }
  .home-title {
    font-size: 10vw;
  }
  .home-img {
    height: 20rem;
    width: 20rem;
    -webkit-transform: translate(-50%, -100%) scale(0);
            transform: translate(-50%, -100%) scale(0);
  }
  .home .home-text:hover > .home-img {
    height: 20rem;
    width: 20rem;
    -webkit-transform: translate(-50%, -100%) scale(1);
            transform: translate(-50%, -100%) scale(1);
  }
  .about .info-container .image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=main.css.map */